<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-sm-8 bg-primary offset-sm-1">
            teste
        </div>
        
        <div class="col-sm-2 bg-success">
            1ยบ - adm <br>
            2ยบ - adm <br>
            3ยบ - adm
        </div>
    </div>
</div>